body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #145dab;
  outline: 3px black;
}

.navbar {
  background-color: #1e9700;

  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  outline: 3px solid black;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #7d26cd;

  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  width: 80%;
}

.item:nth-child(even) {
  flex-direction: row-reverse;
}

.item img {
  width: 300px;

  height: auto;
  margin: 0 40px;
}

.item div {
  flex: 1;
  font-size: 1.2em;
}

.item h2 {
  font-size: 1.5em;
}

.item p {
  font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 120px;
  }

  .item {
    flex-direction: column;
    width: 100%;
  }

  .item img {
    width: 100%;

    margin: 20px 0;
  }
}

#copyright {
  border: 1px solid black;
  padding: 40px;
  text-align: center;
  background-color: red;
  outline: 3px solid black;
}
